body{
    position: relative;
    background-image: url("../img/level6-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.level6-div{
    font-family: "STXingkai", "Kaiti SC", "KaiTi", "STKaiti", cursive;
    font-size: 200%;
}

#gogoHome{
    font-size: 30%;
}

#level6-p1{
    color: coral;
}
#level6-img{
    display: block;
    width: 10%;
    height: auto;
}